{% extends "core/base.html" %}
{% block title %} Forecast {% endblock %}
{% block content %}
    <h1 class="lg:px-40 text-xl text-gray-700 font-semibold ">{{ city }}, {{ city }} {{ country }} </h1>
    <h3 class="lg:px-40 text-sm font-light text-gray-300 mt-2">Updated 3hours ago</h3>
  {% for forecast_datum in forecast_data %}
      <div class="mt-6 lg:mt-20 lg:px-40 justify-left container mx-auto">
    <div class="flex flex-wrap w-full lg:w-auto">
        <div class="w-full lg:w-1/2 flex rounded-lg bg-gray-400">
            <div class="rounded-lg py-6 pl-8 pr-32 w-full border-blue-400 border-solid shadow-lg opacity-90 text-white">
                <div class="mb-20">
                    <h2 class="font-bold text-3xl text-black leading-none pb-1">{{ forecast_datum.day }}</h2>
                    <h3 class="leading-none pb-2 pl-1 text-black">{{ forecast_datum.month }}</h3>
                    <p class="flex align-center text-black"><svg class="text-black w-4 inline mr-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"  viewBox="0 0 425.963 425.963" style="enable-background:new 0 0 425.963 425.963;" xml:space="preserve" ><g><g><path d="M213.285,0h-0.608C139.114,0,79.268,59.826,79.268,133.361c0,48.202,21.952,111.817,65.246,189.081   c32.098,57.281,64.646,101.152,64.972,101.588c0.906,1.217,2.334,1.934,3.847,1.934c0.043,0,0.087,0,0.13-0.002   c1.561-0.043,3.002-0.842,3.868-2.143c0.321-0.486,32.637-49.287,64.517-108.976c43.03-80.563,64.848-141.624,64.848-181.482   C346.693,59.825,286.846,0,213.285,0z M274.865,136.62c0,34.124-27.761,61.884-61.885,61.884   c-34.123,0-61.884-27.761-61.884-61.884s27.761-61.884,61.884-61.884C247.104,74.736,274.865,102.497,274.865,136.62z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/></svg>
                    {{ city }}, {{ country }}
                    </p>
                </div>
                <div>
                    <svg class="w-16 mb-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 100 100" enable-background="new 0 0 129 129" >
                        <image href=" https://openweathermap.org/img/wn/{{forecast_datum.icon}}@2x.png" width="100" height="100" class="w-24 h-24"></image>
                    </svg>
                    <strong class="leading-none text-6xl text-black block font-weight-bolder">{{ forecast_datum.temp }}ºC</strong>
                    <b class="text-2xl block font-bold text-black " >{{ forecast_datum.description }}</b>
                </div>
            </div>
        </div>

        <div class="w-full lg:w-1/2 flex ml-0">
            <div class="lg:my-3 bg-gray-800 text-white p-8 lg:rounded-r-lg w-full">
                <div class="flex justify-between w-64 mb-4 w-full">
                    <div class="w-auto font-bold uppercase text-90">Pressure</div><div class="w-auto text-right">{{ forecast_datum.pressure }} Hpa</div>
                </div>
                <div class="flex justify-between w-64 mb-4 w-full">
                    <div class="w-auto font-bold uppercase text-90">Humidity</div><div class="w-auto text-right">{{ forecast_datum.humidity }} %</div>
                </div>
                <div class="flex justify-between w-64 mb-8 w-full">
                    <div class="w-auto font-bold uppercase text-90">Wind</div><div class="w-auto text-right">{{ forecast_datum.wind_speed }} Km/H</div>
                </div>
            </div>
        </div>
    </div>
</div>
  {% endfor %}

{% endblock content %}