{% extends "core/base.html" %} 
{% block title %}Current Weather{% endblock title%} 

{% block content %}
<div
  class="px-3 py-6 flex flex-wrap md:flex-row flex-col md:space-x-6 space-y-6 items-center justify-center"
>
  {% for city in weather_data %}
  <div
    class="w-1\4 flex flex-col bg-white rounded-xl border hover:border-blue-400 shadow-lg p-4 w-full max-w-xs"
  >
    <div class="font-bold text-xl">{{city.name}}</div>
    <div class="text-sm text-gray-500">Today's Weather</div>
    <div
      class="mt-6 text-6xl self-center inline-flex items-center justify-center rounded-lg text-indigo-400 h-24 w-24"
    >
      <svg
        class="w-50 h-50"
        viewBox="0 0 100 100"
        xmlns="http://www.w3.org/2000/svg"
      >
        <image
          href=" https://openweathermap.org/img/wn/{{city.icon}}@2x.png"
          width="100"
          height="100"></image>
      </svg>
    </div>
    <div class="flex flex-row items-center justify-center mt-6">
      <div class="font-medium text-6xl">{{city.main_temp}}°</div>
      <div class="flex flex-col items-center ml-6">
        <div>{{city.main}}</div>
        <div class="mt-1">
          <span class="text-sm"><i class="far fa-long-arrow-up"></i></span>
          <span class="text-sm font-light text-gray-500"
            >{{city.max_temp}}°C</span
          >
        </div>
        <div>
          <span class="text-sm"><i class="far fa-long-arrow-down"></i></span>
          <span class="text-sm font-light text-gray-500"
            >{{city.min_temp}}°C</span
          >
        </div>
      </div>
    </div>
    <div class="flex flex-row justify-between mt-6">
      <div class="flex flex-col items-center">
        <div class="font-medium text-sm">Wind</div>
        <div class="text-sm text-gray-500">{{city.wind_speed}}k/h</div>
      </div>
      <div class="flex flex-col items-center">
        <div class="font-medium text-sm">Humidity</div>
        <div class="text-sm text-gray-500">{{city.humidity}}%</div>
      </div>
      <div class="flex flex-col items-center">
        <div class="font-medium text-sm">Visibility</div>
        <div class="text-sm text-gray-500">{{city.visiblity}}km</div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<section class="grid place-items-center bg-gray-500 p-16">
    <form action="" method="post" enctype="multipart/form-data" class="flex flex-col md:flex-row gap-4">
      {% csrf_token %}
      <div>
        <label class='inline-block mb-2 text-xl'>City</label>
        {{form.name}}
      </div>
      <div>
        <label class='inline-block mb-2 text-xl'>County</label>
        {{form.country}}
      </div> 
     <!-- Button: Submit [h-12] -->
      <button
        class="h-12 min-w-[8rem] rounded-lg border-2 border-emerald-600 bg-blue-700 text-emerald-50 shadow-lg hover:bg-emerald-600 focus:outline-none focus:ring focus:ring-emerald-600"
      >
        Submit
      </button>
    </form>
</section>

{% endblock content %}
